body {
    margin: 0;
}

.contenedor-padre {
    display: flex;
    flex-direction: column; /* Apila los elementos uno sobre otro */
    height: 100vh;          /* 100% de la altura de la ventana (viewport) */
    margin: 0;
  }
  
h1 {
    text-align: center;
    margin: 20px 0;
}
